.DS_Store
.VSCodeCounter/
.bin/
.cache/
.tmp/
artifacts/
node_modules/
__pycache__/
*.pyc
tools/kubeconform/.venv/
tools/kubeconform/kubeconform.git/
tools/kubeconform/renders/
tools/kubeconform/schemas/
tools/kubeconform/helm-template-render.yaml
tools/kubeconform/kubeconform-report.json
Taskfile.my.yaml
